
<div class="content p-3">
  <h2 class="formtitle">{{title}}</h2>
  <br/>
  <form action="/db/vnos" method="post">
    <button type="submit" id="vnos" class="btn btn-success pb">Vnos začetnih podatkov</button>
  </form>
  <br/>
  <br/>
  <form action="/db/izbris" method="post">
    <button type="submit" id="izbris" class="btn btn-danger pb">Izbris vsebine podatkovne baze</button>  
  </form>                   
</div>