<div class="content forum">
    <h1>Forum</h1>

    <h2>Računalništvo</h2>

    <div id="racunalnistvo">
        <div class="topic topic_header">
            <div>&nbsp;</div>
            <div>Forum</div>
            <div>Teme</div>
            <div>Sporočila</div>
            <div>Zadnje sporočilo</div>
        </div>
        <div class="topic">
            <div><i class="fas fa-angle-double-right"></i></div>
            <div>
                <a href="forum-topics.html">Pomoč in nasveti</a>
                <p>Če imate kakršnekoli težave z računalnikom in jih ne znate uvrstiti v katerega od spodnjih oddelkov,
                    je to pravo mesto za vas.</p>
            </div>
            <div>1023</div>
            <div>10123</div>
            <div>
                <div><a href="#">hlajenje prenosnika - glasen ventilator</a></div>
                <div><a href="#">1model</a></div>
                <div class="time">danes ob 14:00:00</div>
            </div>
        </div>

        <div class="topic">
            <div><i class="fas fa-angle-double-right"></i></div>
            <div>
                <a href="forum/informacijska-varnost.html">Informacijska varnost</a>
                <p>Sefi, požarni zidovi in fotokopirni stroji.</p>
            </div>
            <div>1023</div>
            <div>10123</div>
            <div>
                <div><a href="#">hlajenje prenosnika - glasen ventilator</a></div>
                <div><a href="#">1model</a></div>
                <div class="time">danes ob 14:00:00</div>
            </div>
        </div>

        <div class="topic">
            <div><i class="fas fa-angle-double-right"></i></div>
            <div>
                <a href="forum/konzole.html">Konzole</a>
                <p>Svet konzol in iger zanje.</p>
            </div>
            <div>1023</div>
            <div>10123</div>
            <div>
                <div><a href="#">hlajenje prenosnika - glasen ventilator</a></div>
                <div><a href="#">1model</a></div>
                <div class="time">danes ob 14:00:00</div>
            </div>
        </div>
    </div>

    <h2>Strojna oprema</h2>

    <div id="strojna-oprema">
        <div class="topic topic_header">
            <div>&nbsp;</div>
            <div>Forum</div>
            <div>Teme</div>
            <div>Sporočila</div>
            <div>Zadnje sporočilo</div>
        </div>
        <div class="topic">
            <div><i class="fas fa-angle-double-right"></i></div>
            <div>
                <a href="forum/pomoc-in-nasveti.html">Pomoč in nasveti</a>
                <p>Če imate kakršnekoli težave z računalnikom in jih ne znate uvrstiti v katerega od spodnjih oddelkov,
                    je to pravo mesto za vas.</p>
            </div>
            <div>1023</div>
            <div>10123</div>
            <div>
                <div><a href="#">hlajenje prenosnika - glasen ventilator</a></div>
                <div><a href="#">1model</a></div>
                <div class="time">danes ob 14:00:00</div>
            </div>
        </div>

        <div class="topic">
            <div><i class="fas fa-angle-double-right"></i></div>
            <div>
                <a href="forum/informacijska-varnost.html">Informacijska varnost</a>
                <p>Sefi, požarni zidovi in fotokopirni stroji.</p>
            </div>
            <div>1023</div>
            <div>10123</div>
            <div>
                <div><a href="#">hlajenje prenosnika - glasen ventilator</a></div>
                <div><a href="#">1model</a></div>
                <div class="time">danes ob 14:00:00</div>
            </div>
        </div>

        <div class="topic">
            <div><i class="fas fa-angle-double-right"></i></div>
            <div>
                <a href="forum/konzole.html">Konzole</a>
                <p>Svet konzol in iger zanje.</p>
            </div>
            <div>1023</div>
            <div>10123</div>
            <div>
                <div><a href="#">hlajenje prenosnika - glasen ventilator</a></div>
                <div><a href="#">1model</a></div>
                <div class="time">danes ob 14:00:00</div>
            </div>
        </div>
    </div>

    <h2>Programska oprema</h2>

    <div id="programska-oprema">
        <div class="topic topic_header">
            <div>&nbsp;</div>
            <div>Forum</div>
            <div>Teme</div>
            <div>Sporočila</div>
            <div>Zadnje sporočilo</div>
        </div>
        <div class="topic">
            <div><i class="fas fa-angle-double-right"></i></div>
            <div>
                <a href="forum/pomoc-in-nasveti.html">Pomoč in nasveti</a>
                <p>Če imate kakršnekoli težave z računalnikom in jih ne znate uvrstiti v katerega od spodnjih oddelkov,
                    je to pravo mesto za vas.</p>
            </div>
            <div>1023</div>
            <div>10123</div>
            <div>
                <div><a href="#">hlajenje prenosnika - glasen ventilator</a></div>
                <div><a href="#">1model</a></div>
                <div class="time">danes ob 14:00:00</div>
            </div>
        </div>

        <div class="topic">
            <div><i class="fas fa-angle-double-right"></i></div>
            <div>
                <a href="forum/informacijska-varnost.html">Informacijska varnost</a>
                <p>Sefi, požarni zidovi in fotokopirni stroji.</p>
            </div>
            <div>1023</div>
            <div>10123</div>
            <div>
                <div><a href="#">hlajenje prenosnika - glasen ventilator</a></div>
                <div><a href="#">1model</a></div>
                <div class="time">danes ob 14:00:00</div>
            </div>
        </div>

        <div class="topic">
            <div><i class="fas fa-angle-double-right"></i></div>
            <div>
                <a href="forum/konzole.html">Konzole</a>
                <p>Svet konzol in iger zanje.</p>
            </div>
            <div>1023</div>
            <div>10123</div>
            <div>
                <div><a href="#">hlajenje prenosnika - glasen ventilator</a></div>
                <div><a href="#">1model</a></div>
                <div class="time">danes ob 14:00:00</div>
            </div>
        </div>
    </div>
</div>
</div>