 <div class="content forum">
                <h1>Forum » Računalništvo » Električna napetost, nadzor v aplikaciji</h1>
                
                <div class="post_container">
                    <div class="post_header">
                        <div class="left">
                            <div class="circle">
                                <i class="fas fa-user"></i>
                            </div>
                        </div>
                        <div class="right">
                            <a href="#">1model</a>
                            <p>danes ob 14:00:00</p>

                        </div>
                        <div class="icons">
                            <i class="fas fa-lock" data-title="Električna napetost, nadzor v aplikaciji" data-author="1model" data-id="1" data-type="lock_topic" title="Zakleni temo"></i>
                            <i class="fas fa-trash" data-title="Električna napetost, nadzor v aplikaciji" data-author="1model" data-id="1" data-type="delete_topic_from_post" title="Izbriši temo"></i>
                        </div>
                    </div>

                    <div class="message">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum lorem vitae sapien fringilla, nec commodo metus facilisis.<br />
                        Maecenas eget nulla leo. Donec ultricies arcu id aliquam semper. Pellentesque ut turpis a ipsum eleifend ultrices quis ut sem.<br />
                        Nulla auctor lacus vitae blandit bibendum. Quisque et ante varius, ultricies lorem vitae, eleifend nibh. Nulla rhoncus, erat quis maximus ultrices, velit erat dictum orci, eu gravida tellus nunc in nibh. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis purus magna, gravida et tellus ac, dictum viverra justo. Mauris quis lacus ipsum.
                    </div>
                    
                    <div class="signature">
                        What’s the best thing about Switzerland? I don’t know, but the flag is a big plus.
                    </div>
                </div>
                
                <div class="post_container">
                    <div class="post_header">
                        <div class="left">
                            <div class="circle">
                                <i class="fas fa-user"></i>
                            </div>
                        </div>
                        <div class="right">
                            <a href="#">1model</a>
                            <p>danes ob 14:00:00</p>
                        </div>
                        <div class="icons">
                            <i class="fas fa-trash" data-title="Električna napetost, nadzor v aplikaciji" data-author="1model" data-id="2" data-type="delete_post" title="Izbriši sporočilo"></i>
                        </div>
                    </div>

                    <div class="message">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum lorem vitae sapien fringilla, nec commodo metus facilisis.<br />
                        Maecenas eget nulla leo. Donec ultricies arcu id aliquam semper. Pellentesque ut turpis a ipsum eleifend ultrices quis ut sem.<br />
                        Nulla auctor lacus vitae blandit bibendum. Quisque et ante varius, ultricies lorem vitae, eleifend nibh. Nulla rhoncus, erat quis maximus ultrices, velit erat dictum orci, eu gravida tellus nunc in nibh. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis purus magna, gravida et tellus ac, dictum viverra justo. Mauris quis lacus ipsum.
                    </div>
                    
                    <div class="signature">
                        What’s the best thing about Switzerland? I don’t know, but the flag is a big plus.
                    </div>
                </div>
                
                <div class="post_container">
                    <div class="post_header">
                        <div class="left">
                            <div class="circle">
                                <i class="fas fa-user"></i>
                            </div>
                        </div>
                        <div class="right">
                            <a href="#">1model</a>
                            <p>danes ob 14:00:00</p>
                        </div>
                        <div class="icons">
                            <i class="fas fa-trash" data-title="Električna napetost, nadzor v aplikaciji" data-author="1model" data-id="3" data-type="delete_post" title="Izbriši sporočilo"></i>
                        </div>
                    </div>

                    <div class="message">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum lorem vitae sapien fringilla, nec commodo metus facilisis.<br />
                        Maecenas eget nulla leo. Donec ultricies arcu id aliquam semper. Pellentesque ut turpis a ipsum eleifend ultrices quis ut sem.<br />
                        Nulla auctor lacus vitae blandit bibendum. Quisque et ante varius, ultricies lorem vitae, eleifend nibh. Nulla rhoncus, erat quis maximus ultrices, velit erat dictum orci, eu gravida tellus nunc in nibh. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis purus magna, gravida et tellus ac, dictum viverra justo. Mauris quis lacus ipsum.
                    </div>
                    
                    <div class="signature">
                        What’s the best thing about Switzerland? I don’t know, but the flag is a big plus.
                    </div>
                </div>
                
                <div class="post_container">
                    <div class="post_header">
                        <div class="left">
                            <div class="circle">
                                <i class="fas fa-user"></i>
                            </div>
                        </div>
                        <div class="right">
                            <a href="#">1model</a>
                            <p>danes ob 14:00:00</p>
                        </div>
                        <div class="icons">
                            <i class="fas fa-trash" data-title="Električna napetost, nadzor v aplikaciji" data-author="1model" data-id="4" data-type="delete_post" title="Izbriši sporočilo"></i>
                        </div>
                    </div>

                    <div class="message">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum lorem vitae sapien fringilla, nec commodo metus facilisis.<br />
                        Maecenas eget nulla leo. Donec ultricies arcu id aliquam semper. Pellentesque ut turpis a ipsum eleifend ultrices quis ut sem.<br />
                        Nulla auctor lacus vitae blandit bibendum. Quisque et ante varius, ultricies lorem vitae, eleifend nibh. Nulla rhoncus, erat quis maximus ultrices, velit erat dictum orci, eu gravida tellus nunc in nibh. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis purus magna, gravida et tellus ac, dictum viverra justo. Mauris quis lacus ipsum.
                    </div>
                    
                    <div class="signature">
                        What’s the best thing about Switzerland? I don’t know, but the flag is a big plus.
                    </div>
                </div>
                
                <div class="status_bar mt_20">
                    <div class="pagination">
                        <div class="page">
                            <i class="fas fa-chevron-left"></i>
                        </div>

                        <div class="page">1</div>
                        <div class="page">2</div>
                        <div class="page on">3</div>
                        <div class="page">4</div>
                        <div class="page">5</div>

                        <div class="page">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </div>
                </div>
                
                <div class="reply_container">
                    <h2>Odgovori</h2>
                    <textarea id="editor"></textarea>
                    <button type="button" class="reply_post">Odgovori</button>
                </div>
            </div>
        </div>