<div class="content">
    <h1>{{pozabljeno-geslo}}</h1>

    <div class="forgotten_password">
        <p>Če ste pozabili vaše geslo, v spodnji obrazec vnesite vaše uporabniško ime in naslov elektronske pošte.</p>

        <form method="post" id="forgotten_password">
            <div class="error"></div>
            <input type="text" name="username" placeholder="Uporabniško ime" required>
            <input type="email" name="email" placeholder="Elektronski naslov" required>

            <button type="submit">Zahtevaj geslo</button>
        </form>
    </div>
</div>
