<div class="content vnesi-temo">
    <h1>Nova tema</h1>

    <input type="text" name="title" placeholder="Naziv teme">

    <select name="category_id">
        <option value="">Izberi kategorijo</option>
        <option disabled>Računalništvo</option>
        <option value="1">Pomoč in nasveti</option>
        <option value="2">Informacijska varnost</option>
        <option value="3">Konzole</option>
        <option disabled>Strojna oprema</option>
        <option value="4">Pomoč in nasveti</option>
        <option value="5">Informacijska varnost</option>
        <option value="6">Konzole</option>
        <option disabled>Programska oprema</option>
        <option value="7">Pomoč in nasveti</option>
        <option value="8">Informacijska varnost</option>
        <option value="9">Konzole</option>
    </select>

    <div class="create_topic_container">
        <textarea id="editor"></textarea>
        <button type="button" class="create_topic">Ustvari temo</button>
    </div>
</div>
</div>